<!DOCTYPE html>
<html>
<head>
    <title>Okta Account Chooser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/okta-sign-in.css" type="text/css" rel="stylesheet" />
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/pako.js"></script>
    <script src="js/underscore-min.js"></script>
</head>
<body class="auth">
  <script type="text/template" class="account-template">
    <div class="account-container" data-id="<%- id %>">
        <div class="account-content">
          <table>
            <tr>
              <td>
                <div class="account-remove">
                </div>
              </td>
              <a ref="<%- acsUrl %>">
                <td>
                  <div class="account-logo">
                    <img src="<%- orgUrl %>/.well-known/logo" />
                  </div>
                </td>
                <td>
                  <div class="account-info">
                    <p class="name"><%- displayName %></p>
                    <p class="email"><%- login %></p>
                  </div>
                </td>
                <td>
                  <div class="account-arrow"></div>
                </td>
              </a>
            </tr>
          </table>
        </div>
    </div>
  </script>

  <div style="background-image: url(&quot;img/misc/bg-balloon.jpg&quot;);" data-se="login-bg-image" class="login-bg-image">
  </div>

  <div id="okta-account-chooser" class="auth-container main-container no-beacon">
    <div class="auth-header">
      <img src="img/logo_okta.png" class="auth-org-logo">
    </div>
    <div id="add-account-form" class="auth-content">
      <div class="auth-content-inner">
        <div class="account-chooser">
          <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
            <h2 data-se="o-form-head" class="okta-form-title o-form-head">
              Enter your Okta organization
            </h2>
            <div class="okta-form-input-field input-fix">
              <table>
                <tr>
                  <td>
                    <input placeholder="mycompany" name="subdomain" id="subdomain" class=
                    "subdomain" value="" autocomplete="off" type="text">
                  </td>
                  <td>
                    <div class="period">
                      <div>
                        .
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="select-container">
                      <select id="okta-options" class="okta-dropdown-option">
                        <option>
                          okta.com
                        </option>
                        <option>
                          okta-emea.com
                        </option>
                        <option>
                          oktapreview.com
                        </option>
                      </select>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="o-form-button-bar">
            <input id="btn-account-sign-in" value="Go" class="button button-primary" type=
            "submit">
          </div><!--
          <div>
              <ul class="help-links js-help-links">
                  <li><a href="#" class="link">Sign in as regular user</a></li>
                  <li><a href="#" class="link" target="_blank">Create an account</a></li>
              </ul>
          </div>
        -->
        </div>
      </div>
    </div>
    <div id="account-chooser-form" class="auth-content" style="display:none">
      <div class="auth-content-inner">
        <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
          <h2 data-se="o-form-head" class="okta-form-title o-form-head">
            Choose an account
          </h2>
          <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
            <div id="accounts-content" class="accounts-content clearfix"></div>
            <div class="add-account-content clearfix">
              <a href="#" id="link-add-account" class="label" name="link-add-account">
                <div class="add-icon"></div>
                Add Account
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container clearfix">
      <p class="copyright">
        Powered by <a class="inline-block notranslate" href="http://www.okta.com/">Okta</a>
      </p>
      <p class="privacy-policy">
        <a class="inline-block margin-l-10" target="_blank" href=
        "http://www.okta.com/privacy">Privacy Policy</a>
      </p>
    </div>
  </div>

  <iframe id="account-chooser-iframe" src="discovery/iframe.html" style="display:none;"></iframe>

  <script>
    var iframeOrigin = 'https://login.okta.io:8080';
    window.addEventListener('message', receiveMessage, false);

    $(document).ready(function() {

      $('#btn-account-sign-in').click(function(e) {
        e.preventDefault();
        var subdomain = $('#subdomain').val();
        if (subdomain) {
          var orgUrl = 'https://' + subdomain.trim() + '.' +
            $('#okta-options option:selected').text().trim();
          window.location.replace(window.getAppLink(orgUrl));
        } else {
          $('#subdomain').addClass('shake');
        }
      });

      $('#subdomain').keydown(function () {
        $('#subdomain').removeClass('shake');
      });

      $('#link-add-account').click(function(e) {
        e.preventDefault();
        $('#add-account-form').show();
        $('#account-chooser-form').hide();
      });

      $('.account-content:hover:before ').on('click', function(e) {
        e.preventDefault();
        console.log('delete clicked');
        window.sendMessage({
          messageType: 'remove_account',
          accountId: $(this).data('id')
        });
      });

      $('#account-chooser-iframe').on('load', function () {
          setTimeout(function () { sendMessage('get_accounts'); }, 500);
      });
    });

    function getAppLink(orgUrl) {
      var pattern = /^(https?:\/\/)?([A-Za-z0-9-]{1,63})(\.\S+)/;
      var matches = orgUrl.match(pattern);

      if (matches && matches.length === 4) {
        var url = [];
        url.push(matches[1]);

        var el = document.createElement('a');
        el.href = window.location.href;

        var request = getQueryVariable(el.search, 'SAMLRequest');
        var issuer = parseSamlRequest(request);
        var acsUrl = getSamlAcsUrl(issuer);

        if (acsUrl.toLowerCase().indexOf('/admin/') === 0) {
          url.push(matches[2] + '-admin');
        } else {
          url.push(matches[2]);
        }

        url.push(matches[3]);
        url.push(acsUrl);
        url.push('?');
        url.push(request);
        url.push(getQueryVariable(el.search, 'RelayState'));

        return url.join('');
      }
    }

    function getSamlAcsUrl(issuer) {
      if (issuer && issuer.toLowerCase().indexOf('influitive') > -1) {
        return '/admin/crossorg/sso/ozone';
      } else {
        return '/user/sso/corpwebsite';
      }
    }

    function parseSamlRequest(req) {
      if (req) {
        try {
          req = zlibDecompress(req);
        } catch (err) {
          console.log('Unable to decompress SAMLRequest', err);
        }
        console.log('decoded saml request:', req);
        var parser = new DOMParser();
        try {
          var xmlDoc = parser.parseFromString(req, 'application/xml');
          var node = xmlDoc.evaluate("//*[local-name(.)='Issuer']/text()", xmlDoc.documentElement, null, XPathResult.FIRST_ORDERED_NODE_TYPE).singleNodeValue;
          if (node && node.nodeType === 3) {
            return node.textContent;
          }
        } catch (err) {
          console.log('Unable to parse SAMLRequest', err);
        }
      }
    }

    function zlibDecompress(base64Content) {
      // Convert binary string to character-number array
      var charData = atob(base64Content).split('').map(function (x) { return x.charCodeAt(0); });
      var decodedData = pako.inflateRaw(new Uint8Array(charData), { to: 'string' });
      return decodedData;
    }

    function getQueryVariable(path, variable) {
      if (path && variable) {
        var query = path.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
      }
    }

    function sendMessage(messageType) {
      var iframeWin = document.getElementById('account-chooser-iframe').contentWindow;
      iframeWin.postMessage({
        messageType: messageType
      }, iframeOrigin);
    }

    function renderAccounts(accounts) {
      var template = _.template(
        $('script.account-template').html()
      );

      var el = $('#accounts-content');
      el.html('');
      accounts.forEach(function(account) {
        el.append(template({
          id: account.id,
          orgUrl: account.origin,
          acsUrl: getAppLink(account.origin),
          login: account.login,
          displayName: account.displayName
        }));
      });

      $('#account-chooser-form').show();
    }

    function receiveMessage(event) {
      console.log('received message from iframe:', event);
      if (event.origin === iframeOrigin && event.data && event.data.messageType) {
        switch (event.data.messageType) {
          case 'processed_get_accounts' :
            if (event.data.accounts && event.data.accounts.length) {
              renderAccounts(event.data.accounts);
            } else {
              $('#add-account-form').show();
            }
            break;
        }
      }
    }
  </script>
</body>
</html>
